{
    "env": {
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": [
            0
        ],
        "require-atomic-updates": [
            "off"
        ],
        "no-unused-vars": [
            1
        ],
        "no-case-declarations": "off",
        "no-var": "error",
        "prefer-const": "error",
        "object-shorthand": "warn",
        "prefer-destructuring": "warn",
        "no-useless-escape": "error",
        "space-before-blocks": "error",
        "function-paren-newline": "warn",
        "prefer-arrow-callback": "warn",
        "arrow-spacing": "warn",
        "arrow-parens": "error",
        "no-duplicate-imports": "error",
        "nonblock-statement-body-position": "error",
        "brace-style": "error",
        "no-else-return": "error",
        "spaced-comment": "warn",
        "keyword-spacing": "warn",
        "no-multiple-empty-lines": "error",
        "space-in-parens": "error",
        "array-bracket-spacing": "error",
        "block-spacing": "error",
        "comma-spacing": "error",
        "key-spacing": "error",
        "comma-style": "warn",
        "no-trailing-spaces": "error",
        "comma-dangle": "warn"
    }
}